# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# Logs and local configs
*.log
*.env
# Model and data files
*.h5
*.pkl
*.pt
*.onnx
*.joblib
dataset/train_images/hispa/
dataset/train_images/normal/
dataset/train_images/tungro/
dataset/train_images/dead_heart/
dataset/train_images/blast/
dataset/train_images/brown_spot/
dataset/train_images/bacterial_leaf_blight/
dataset/train_images/bacterial_leaf_streak/
dataset/train_images/downy_mildew/
dataset/train_images/bacterial_panicle_blight/
output/
