# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# Logs and local configs
*.log
*.env
# Model and data files
*.h5
*.pkl
*.pt
*.onnx
*.joblib
datasets/
outputs/
